<footer>
    <div class="hiperlinks">
        <ul class="footer-nav">
            <li class="footer-nav-hiperlink">Institucional</li>
            <li>Como funciona</li>
            <li>Imprensa</li>
            <li>Contato</li>
            <li>Seja um parceiro</li>
            <li>Termos de uso</li>
            <li>Políticas de privacidade</li>
        </ul>
    </div>
    <div class="social-media">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-instagram"></i>
    </div>
    DOAME © 2021
</footer>