<header>
    <div class="logo">
        <img class="logo-img" onclick="location='/'" src="/images/logo/Logomarca Doame (3).png">
    </div>
    <div class="nav">
        <ul>
            <li><a onclick="location='/parceiros/cadastro'" class='buttonParceiros'>Seja um parceiro</a></li>
            <li><a onclick="location='/parceiros/'">Parceiros</a></li>
        </ul>
        <!-- <div class="search-box">
            <input type="text" class="search-txt" placeholder="Buscar"></input>
            <a class="search-btn" href="#"><i class="fas fa-search"></i></a>
        </div> -->
        <div class="login">
            <% if(usuario) { %>
                <form class="form-login" action="/logout" method="POST">
                    <p class="nome-usuario">
                        Olá,
                        <%= usuario.nome %>
                    </p>
                    <button class="btn-sair" type="submit">Sair</button>
                </form>
                <% } else { %>
                    <button class="btn-login" onclick="btnLogin()">Login</button>
                    <% } %>
        </div>
    </div>
</header>