<header>
    <div class="logo">
        <img class="logo-img" onclick="redirectUrl('/')" src="/images/logo/Logomarca Doame (3).png">
    </div>
    <div class="nav">
        <ul>
            <li><a onclick="redirectUrl('parceiros/cadastro')" class='buttonParceiros'>Seja um parceiro</a></li>
            <li><a onclick="redirectUrl('lista-parceiros')">Parceiros</a></li>
        </ul>
        <div class="search-box">
            <input type="text" class="search-txt" placeholder="Buscar"></input>
            <a class="search-btn" href="#"><i class="fas fa-search"></i></a>
        </div>
    </div>
    <div class="login">
        <button class="btn-login" onclick="btnLogin()">Login</button>
        <p class="nome-usuario"></p>
    </div>
    </div>
</header>