<header>
    <div class="logo" onclick="location='/'">
        <img class="logo-img" src="/images/logo/Logomarca Doame (3).png">
    </div>
    <div class="nav">
        <ul>
            <li><a onclick="location='/parceiros/cadastro'" class='buttonParceiros'>Seja um parceiro</a></li>
            <li><a onclick="location='/parceiros/'">Parceiros</a></li>
        </ul>
        <!-- <div class="search-box">
            <input type="text" class="search-txt" placeholder="Buscar"></input>
            <a class="search-btn" href="#"><i class="fas fa-search"></i></a>
        </div> -->
    </div>
    <div class="login">
        <% if(usuario) { %>
            <p class="nome-usuario">
                Olá,
                <%= usuario.nome.split(' ')[0] %>
            </p>
            <div class="menu" style="display: none;">
                <a href="/perfil/edit">Editar perfil</a>
                <button onclick="location='/logout'">Sair</button>
            </div>
            </form>
            <% } else { %>
                <button class="btn-login" onclick="btnLogin()">Login</button>
                <% } %>
    </div>
</header>