<div class="modal-container" id="modal_container">
    <div class="modal-header" id="modal-header">
        <button id="close"><i class="fas fa-times"></i></button>
    </div>
    <div class="modalBox">
        <h2>Tem certeza que deseja excluir sua conta?</h2>
        <button onclick="location='/perfil/delete'" class="login-logar">Excluir</button>
    </div>
</div>