<div class="confirmModal" style="display: none;">
    <div class="modal-header">
        <button class="close" onclick="closeConfirmModal()"><i class="fas fa-times"></i></button>
    </div>
    <h2>Tem certeza que deseja excluir sua conta?</h2>
    <button onclick="location='/perfil/delete'">Excluir</button>
</div>