<div class="confirmModal" style="display: none;">
    <div class="modalBox">
        <div class="modal-header">
            <button class="close"><i class="fas fa-times"></i></button>
        </div>
        <h2>Tem certeza que deseja excluir sua conta?</h2>
        <button onclick="location='/perfil/delete'">Excluir</button>
    </div>
</div>


<div class="modal-container" id="modal_container">
    <div class="modalBox">
        <div class="modal-header">
            <button id="close"><i class="fas fa-times"></i></button>
        </div>
        <h2>Tem certeza que deseja excluir sua conta?</h2>
        <button onclick="location='/perfil/delete'">Excluir</button>
    </div>
</div>