<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="/public/images/logo/7.png">
  <link rel="stylesheet" href="/public/stylesheets/agradecimento.css">

  <title>DoAME | Agradecimento</title>
</head>
<body>
<div>
  <img src="/public/images/logo/8.png" class="image-background" style="background-repeat:repeat">
  <main>
    <div class="container">
      <h1>Parabéns! 👏🏼</h1>

      <p id="agradecimento">Certamente sua doação irá beneficiar e impactar positivamente a vida das pessoas auxiliadas por esse lindo projeto!</p>

      <h3>Obrigado!</h3>

      <p id="frase"><i>"É a intenção, e não a doação, que faz o doador."</i></p>
      <p id="autor">Gotthold Lessing</p>

      <a href="#"><button>Voltar para página principal</button></a>
    </div>
  </main>
</div>
</body>
</html>