<!DOCTYPE html>
<html lang="en">

<%- include partials/head %>

    <head>
        <link rel="stylesheet" href="/stylesheets/cadastroParceiro.css">
        <title>DoAME | Cadastro do Parceiro</title>
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script> -->
    </head>

    <body>
        <main>
            <a class="image" onclick="location='/'"><img src="/images/logo/6.png" alt="Logo"></a>

            <p id="header">Cadastro Parceiro</p>

            <div class="forms">
                <form action="/parceiros" method="POST">
                    <input type="text" name="nome" id="name" placeholder="Digite o seu nome">
                    <input type="text" name="descricao" id="descricao" placeholder="Descrição">
                    <input type="text" name="cnpj" id="cnpj" placeholder="CNPJ">
                    <input type="text" name="cep" id="cep" placeholder="CEP">
                    <input type="email" name="email" id="email" placeholder="Email">
                    <input type="password" name="senha" id="senha" placeholder="Senha">
                    <input type="password" name="senha2" id="confirmarSenha" placeholder="Confirmar senha">

                    <div class="agree-with">
                        <input type="checkbox" id="terms" name="terms">
                        <label for="terms">Declaro ter lido e aceitado os <span>termos de uso e a política de privacidade</span>.</label>
                    </div>
                    <button type="submit">Cadastre-se</button>
                </form>

            </div>


        </main>
        <script src="/javascripts/main.js"></script>
    </body>

</html>