<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/public/images/logo/7.png">
    <link rel="stylesheet" href="/public/stylesheets/cadastro.css">

    <title>DoAME | Cadastro</title>
</head>

<body>
    <main>
        <div class="forms">
            <a href="#" id="google-button"><button><img src="/public/images/icons/google_icon.png" alt="Google">Crie uma conta com a Google</button></a>

            <div id="lines">
                <div class="line"></div>
                <p>OU</p>
                <div class="line"></div>
            </div>

            <form>
                <input type="text" id="nome" name="nome" placeholder="Nome completo">
                <input type="email" id="email" name="email" placeholder="Email">
                <input type="password" id="senha" name="senha" placeholder="Senha">
                <input type="password" name="confirmarSenha" id="confirmarSenha" placeholder="Confirme a senha">
            </form>

            <div class="agree-with">
                <input type="checkbox" id="terms" name="terms">
                <label for="terms">Declaro ter lido e aceitado os <span>termos de uso e a política de privacidade</span>.</label>
            </div>

            <div class="sign-up">
                <a href="#"><button>Cadastre-se</button></a>
            </div>
        </div>
    </main>
</body>

</html>