<!DOCTYPE html>
<html lang="en">

<%- include partials/head %>

    <head>
        <link rel="stylesheet" href="/stylesheets/cadastro.css">
        <title>DoAME | Cadastro</title>
    </head>

    <body>
        <main>
            <div class="forms">
                <img src="/images/logo/6.png" alt="Logo" onclick="location='/'" class="logo-background">

                <a href="#" id="google-button"><button><img src="/images/icons/google_icon.png" alt="Google">Crie uma conta com a Google</button></a>

                <div id="lines">
                    <div class="line"></div>
                    <p>OU</p>
                    <div class="line"></div>
                </div>

                <form action="/doadores" method="POST"> 
                    <input type="text" id="nome" name="nome" placeholder="Nome completo">
                    <input type="email" id="email" name="email" placeholder="Email">
                    <input type="password" id="senha" name="senha" placeholder="Senha">
                    <input type="password" name="senha2" id="confirmarSenha" placeholder="Confirme a senha">
                    <div class="agree-with">
                        <input type="checkbox" id="terms" name="terms">
                        <label for="terms">Declaro ter lido e aceitado os <span>termos de uso e a política de privacidade</span>.</label>
                    </div>
    
                    <div class="sign-up">
                        <button type="submit">Cadastre-se</button>
                    </div>
                </form>

            </div>
        </main>
        <script src="/javascripts/main.js"></script>
    </body>

</html>