<!DOCTYPE html>
<html lang="en">

<%- include partials/head %>

    <head>
        <link rel="stylesheet" href="/stylesheets/cadastroParceiro.css">

        <title>DoAME | Cadastro do Parceiro</title>
    </head>

    <body>
        <main>
            <img src="/images/logo/6.png" alt="Logo" onclick="redirectUrl('/')" class="logo-background">

            <p id="header">Cadastro Parceiro</p>

            <div class="forms">
                <form>
                    <input type="text" name="nome" id="name" placeholder="Digite o seu nome">
                    <input type="text" name="cnpj" id="cnpj" placeholder="CNPJ">
                    <input type="text" name="descricao" id="descricao" placeholder="Descrição">
                </form>

                <form>
                    <input type="email" name="email" id="email" placeholder="Email">
                    <input type="password" name="senha" id="senha" placeholder="Senha">
                    <input type="password" name="confirmarSenha" id="confirmarSenha" placeholder="Confirmar senha">
                </form>
            </div>

            <div class="agree-with">
                <input type="checkbox" id="terms" name="terms">
                <label for="terms">Declaro ter lido e aceitado os <span>termos de uso e a política de privacidade</span>.</label>
            </div>

            <a href="#"><button>Cadastre-se</button></a>
        </main>
        <script src="/javascripts/main.js"></script>
    </body>

</html>