<!DOCTYPE html>
<html lang="en">

<%- include partials/head %>
<head>
    <link rel="stylesheet" href="/stylesheets/doacao.css">
    <title>Doação</title>
</head>
<body>
    <%- include partials/header %>
    <section class= container>
        <div class="forms">
            <h1>Continue com sua doação</h1>
            <div id="lines">
                <div class="line"></div>
            </div>
            <form>
                <input type="text" id="nome" name="valor" placeholder="Valor a ser doado">
                <select name="select">
                    <option value="valor1"selected>Cartão de Crédito</option>
                    <option value="valor2">Boleto Bancário</option>
                    <option value="valor3">Pix</option>
                </select>
            </form>
            <div class="sign-up">
                <button onclick="location='/obrigado'">Finalizar doação</button>
            </div>
        </div>
        <div class =mapa>
            <h1>Você está doando para Animais felizes</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15835.74241457319!2d-34.85035863863806!3d-7.133445557114327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7acdd4a4e6c3417%3A0xf7ce5caf31171e3d!2sEspa%C3%A7o%20Cultural%20Jos%C3%A9%20Lins%20do%20R%C3%AAgo!5e0!3m2!1spt-BR!2sbr!4v1620064873865!5m2!1spt-BR!2sbr" width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </section>
    <%- include partials/footer %>
</body>
</html>