<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/public/stylesheets/login.css">
  <link rel="icon" href="/public/images/logo/7.png">
  <title>DoAME | Login</title>
</head>
<body>
  <main>
    <div class="wallpaper">
      <img src="/public/images/charity-wallpaper.png" alt="Imagem ilustrativa">
    </div>

    <div class="forms">
      <a href="#" id="google-button"><button><img src="/public/images/icons/google_icon.png" alt="Google">Login com Google</button></a>

      <div id="lines">
        <div class="line"></div>
        <p>OU</p>
        <div class="line"></div>
      </div>

      <form>
        <input type="email" id="email" name="email" placeholder="Email">
        <input type="password" id="senha" name="senha" placeholder="Senha">
      </form>

      <div class="password-missed">
        <p>Esqueceu a senha?</p>
        <a href="#"><button>Login</button></a>
      </div>

      <div class="sign-up">
        <p>Criar uma conta é fácil</p>
        <a href="#"><button>Cadastre-se</button></a>
      </div>
    </div>
  </main>
</body>
</html>