<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo/7.png">
    <link rel='stylesheet' href='/stylesheets/main.css'>
    <link rel='stylesheet' href='/stylesheets/header-footer.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>DOAME</title>
</head>

<body>
    <header>
        <div class="logo">
            <img class="logo-img" src="/images/logo/Logomarca Doame (3).png">
        </div>
        <div class="nav">
            <ul>
                <li><a onclick="redirectUrl('parceiros/cadastro')" class='buttonParceiros'>Seja um parceiro</a></li>
                <li><a href="">Projetos</a></li>
            </ul>
            <div class="search-box">
                <input type="text" class="search-txt" placeholder="Buscar"></input>
                <a class="search-btn" href="#"><i class="fas fa-search"></i></a>
            </div>
        </div>
        <div class="login">
            <button class="btn-login" onclick="btnLogin()">Login</button>
            <p class="nome-usuario"></p>
        </div>
        </div>
    </header>

    <main>
        <section class="container">
            <img class="banner" src="/images/logo/banner.png">
        </section>

        <section class="projects">
            <div class="container">
                <article>
                    <div class="thumb" style="background-image: url('/images/logo/doguineos.png')"></div>
                    <span class="titulo-projeto">NOME DO PROJETO</span>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        <img class="querodoar" src="/images/logo/querodoar.png">
                    </div>
                </article>
                <article>
                    <div class="thumb" style="background-image: url('/images/logo/doguineos.png')"></div>
                    <span class="titulo-projeto">NOME DO PROJETO</span>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        <img class="querodoar" src="/images/logo/querodoar.png">
                    </div>
                </article>
                <article>
                    <div class="thumb" style="background-image: url('/images/logo/doguineos.png')"></div>
                    <span class="titulo-projeto">NOME DO PROJETO</span>
                    <div class="info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        <img class="querodoar" src="/images/logo/querodoar.png">
                    </div>
                </article>
            </div>
        </section>

        <section>
            <div class="body-site"></div>
        </section>

        <section data-anime="left">
            <div class="porque-doar">
                <h2>É mais sobre pessoas e menos sobre dinheiro</h2>
                <p>O mundo precisa de mais solidariedade. Seja um motivador! Ao doar com a DoAME, você inspira amor e influencia outras pessoas a praticarem atos de bondade.</p>
            </div>
        </section>

    </main>
    <footer>
        <div class="hiperlinks">
            <ul class="footer-nav">
                <li class="footer-nav-hiperlink">Institucional</li>
                <li>Como funciona</li>
                <li>Imprensa</li>
                <li>Contato</li>
                <li>Seja um parceiro</li>
                <li>Termos de uso</li>
                <li>Políticas de privacidade</li>
            </ul>
        </div>
        <div class="social-media">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-instagram"></i>
        </div>
        DOAME © 2021
    </footer>
    <div class="modal">
        <div class="modal-header">
            <button class="close" onclick="btnClose()">X</button>
        </div>

        <a href="#" id="google-button"><button><img src="/images/icons/google_icon.png" alt="Google">Login com Google</button></a>

        <div id="lines">
            <div class="line"></div>
            <p>OU</p>
            <div class="line"></div>
        </div>

        <form id="form_contact">
            <input type="email" id="email" name="email" placeholder="Email">
            <input type="password" id="senha" name="senha" placeholder="Senha">
            <div class="mensagem-erro"></div>
        </form>

        <div class="password-missed">
            <a href="#">Esqueceu a senha?</a>
            <a id="login" onclick="sendLoginData(email.value, senha.value)">Login</a>
        </div>

        <div class="sign-up">
            <p>Criar uma conta é fácil</p>
            <a href="#"><button onclick="redirectUrl('doadores/cadastro')">Cadastre-se</button></a>
        </div>
    </div>
    <script src="/javascripts/main.js"></script>
</body>

</html>