<!DOCTYPE html>
<html lang="en">

<%- include partials/head %>

<head>
    <link rel='stylesheet' href='/stylesheets/page-parceiro.css'>
    <title>Parceiro</title>
</head>

<body>
    <%- include partials/header %>
    <main>
        <div class="noticias-parceiros">
            <div class="top-parceiro">
                <div class="imagens-parceiros">
                    <img title="Imagem do artigo do parceiro"
                        style="background-image: url('<%= parceiro.imagem %>');">
                </div>

                <div class="texto-parceiros"> Conheça as instituições parceiras da DOAME. Saiba o que
                    precisam e conte conosco como facilitador!</div>
            </div>

            <div class="bottom-parceiro-noticias">
                <div class="noticias">
                    <img src="/images/donation_opacityred.png" class="imagem-noticias">
                    <p class="texto-noticias">NOTICIAS INSTITUIÇÕES</p>
                </div>
                <div class="noticias">
                    <img src="/images/donation_opacityred.png" class="imagem-noticias">
                    <p class="texto-noticias">NOTICIAS INSTITUIÇÕES</p>
                </div>
                <div class="noticias">
                    <img src="/images/donation_opacityred.png" class="imagem-noticias">
                    <p class="texto-noticias">NOTICIAS INSTITUIÇÕES</p>
                </div>
            </div>
        </div>
    </main>
    <%- include partials/footer %>
    <script src="/javascripts/main.js"></script>
</body>

</html>