<!DOCTYPE html>
<html lang="en">

<%- include partials/head %>

    <head>
        <link rel='stylesheet' href='/public/stylesheets/page-parceiro.css'>
        <title>Parceiro</title>
    </head>

    <body>
        <header>
            <div class="logo">
                <img class="logo-img" src="/public/images/logo/Logomarca Doame (3).png">
            </div>
            <div class="nav">
                <ul>
                    <li><a href="">Seja um parceiro</a></li>
                    <li><a href="">Projetos</a></li>
                </ul>
                <div class="search-box">
                    <input type="text" class="search-txt" placeholder="Buscar"></input>
                    <a class="search-btn" href="#"><i class="fas fa-search"></i></a>
                </div>

            </div>
            <div class="login">
                <button class="btn-login" onclick="btnLogin()">Login</button>
            </div>
            </div>
        </header>
        <main>

            <div class="noticias-parceiros">
                <div class="top-parceiro">
                    <div class="imagens-parceiros">
                        <img title="Imagem do artigo do parceiro" style="background-image: url('<%= parceiros.imagem %>');">
                    </div>

                    <div class="texto-parceiros"> Conheça as instituições parceiras da DOAME. Saiba o que precisam e conte conosco como facilitador!</div>
                </div>

                <div class="bottom-parceiro-noticias">
                    <div class="noticias">
                        <img src="/public/images/donation_opacityred.png" class="imagem-noticias">
                        <p class="texto-noticias">NOTICIAS INSTITUIÇÕES</p>
                    </div>
                    <div class="noticias">
                        <img src="/public/images/donation_opacityred.png" class="imagem-noticias">
                        <p class="texto-noticias">NOTICIAS INSTITUIÇÕES</p>
                    </div>
                    <div class="noticias">
                        <img src="/public/images/donation_opacityred.png" class="imagem-noticias">
                        <p class="texto-noticias">NOTICIAS INSTITUIÇÕES</p>
                    </div>
                </div>
            </div>

        </main>
        <%- include partials/footer %>
            <script src="/public/javascripts/main.js">
            </script>
    </body>

</html>