@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url('./paleta.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background-color: var(--branco);
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .image {
    margin-top: 5%;
    width: 500px;
    cursor: pointer;
}

main #header {
    font-size: 2.4rem;
    font-weight: 600;
    padding: 10px;
    color: var(--cinza-claro-escuro);
}

.forms {
    /* border: 1px solid red; */
    width: 900px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.forms form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.forms form input {
    border: none;
    border-radius: 8px;
    background-color: var(--cinza-claro);
    color: var(--black);
    font-size: 0.9rem;
    margin: 10px;
    padding: 20px;
    height: 40px;
    width: 400px;
    outline: none;
}

.agree-with {
    margin-top: 20px;
    width: 415px;
    display: flex;
    align-items: center;
}

.agree-with #terms {
    width: 20px;
}

.agree-with label {
    font-size: .8rem;
    color: var(--cinza-claro-escuro);
}

.agree-with label span {
    text-decoration: underline;
}

button {
    margin-top: 25px;
    margin-left: 80px;
    text-transform: uppercase;
    background-color: var(--azul-claro);
    color: var(--branco);
    border: none;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
    width: 250px;
    height: 40px;
    transition: 0.5s;
}

button:hover {
    color: white;
    box-shadow: inset 300px 0 0 0 var(--vermelho-claro);
}


/* responsividade */

@media only screen and (min-width: 900px) and (max-width: 950px) {
    main {
        height: 700px;
        width: 1000px;
        margin-bottom: 50px;
    }
    main img {
        width: 300px;
        margin-left: 100px;
    }
    main #header {
        font-size: 1.3rem;
    }
    form {
        height: 500px;
        margin-left: 10px;
    }
}

@media only screen and (min-width: 850px) and (max-width: 900px) {
    main {
        height: 750px;
        width: 900px;
        margin-bottom: 50px;
    }
    main img {
        width: 300px;
        margin-left: 100px;
    }
    main #header {
        font-size: 1.3rem;
    }
    form {
        height: 500px;
        margin-left: 10px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 850px) {
    main {
        height: 750px;
        width: 800px;
        margin-bottom: 50px;
    }
    main img {
        width: 300px;
        margin-left: 100px;
    }
    main #header {
        font-size: 1.3rem;
    }
    form {
        height: 500px;
        margin-left: 10px;
    }
}

@media only screen and (min-width: 750px) and (max-width: 800px) {
    main {
        height: 750px;
        width: 700px;
        margin-bottom: 50px;
    }
    main img {
        width: 300px;
        margin-left: 100px;
    }
    main #header {
        font-size: 1.3rem;
    }
    form {
        height: 500px;
        margin-left: 10px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 750px) {
    main {
        height: 750px;
        width: 650px;
        margin-bottom: 50px;
    }
    main img {
        width: 300px;
        margin-left: 100px;
    }
    main #header {
        font-size: 1.3rem;
    }
    form {
        height: 500px;
        margin-left: 10px;
    }
}

@media only screen and (min-width: 650px) and (max-width: 700px) {
    main {
        height: 750px;
        width: 650px;
        margin-bottom: 50px;
    }
    main img {
        width: 300px;
        margin-left: 100px;
    }
    main #header {
        font-size: 1.3rem;
    }
    form {
        height: 500px;
        margin-left: 10px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 650px) {
    main {
        height: 700px;
        width: 650px;
        margin-bottom: 50px;
    }
    main img {
        width: 300px;
        margin-left: 100px;
    }
    main #header {
        font-size: 1.3rem;
    }
    form {
        height: 500px;
        margin-left: 10px;
    }
}

@media only screen and (min-width: 550px) and (max-width: 600px) {
    main {
        height: 750px;
        width: 600px;
        margin-bottom: 50px;
    }
    main img {
        width: 300px;
        margin-left: 100px;
    }
    main #header {
        font-size: 1.3rem;
    }
    form {
        height: 500px;
        margin-left: 10px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 550px) {
    main {
        height: 700px;
        width: 470px;
        margin-bottom: 50px;
    }
    main img {
        width: 300px;
        margin-left: 100px;
    }
    main #header {
        font-size: 1.3rem;
    }
    form {
        height: 500px;
        margin-left: 10px;
    }
}
