@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url('/public/stylesheets/paleta.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background-color: var(--branco);
    font-size: 16px;
    color: var(--vermelho-claro);
}

.container {
    display: flex;
    justify-content: space-around;
    padding-top: 110px;
    padding-bottom: 50px;
}

.forms {
    height: 470px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    height: 40px;
    width: 70%;
    background-color: var(--cinza-claro);
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    padding-left: 8px;
    outline: none;
}

.sign-up {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    color: var(--branco);
    background-color: var(--azul-claro);
    border: none;
    border-radius: 8px;
    font-size: 1.0rem;
    font-weight: 700;
    cursor: pointer;
    width: 270px;
    height: 40px;
    transition: 0.5s;
}

button:hover {
    color: white;
    box-shadow: inset 350px 0 0 0 var(--vermelho-claro);
}

