@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url('/stylesheets/paleta.css');
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Poppins';
}


/*MAIN-BANNER*/

/* main .video {
    width: 100%;
    height: 600px;
}
 */

/*ARTICLES*/

section.projects .container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 60px;
}

section.projects article {
    width: 250px;
    max-width: 100%;
    background-color: #ececec;
    border-radius: 5px;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 17px -10px rgba(0, 0, 0, 0.51);
    transition: 0.4s ease-in;
    opacity: 0.8;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

section.projects article:hover {
    background-color: #7cdcdfa4;
    transition: 0.2s;
    transform: scale(1.02, 1.02);
    opacity: 1;
}

section.projects article .thumb {
    width: 250px;
    height: 240px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
}

article .info {
    width: 200px;
    padding: 10px;
    height: 90px;
    text-overflow: ellipsis;
    margin-left: 10px;
}

article .info p {
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.7em;
    line-height: 1.2em;
    text-align: justify;
    margin-left: 8px;
    font-size: 15px;
    height: 290px;
    margin-top: 5px;
}

article .titulo-projeto {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: #7cdcdf;
    width: 250px;
}

article .info .querodoar {
    text-align: center;
    margin-left: 180px;
    width: 85px;
    position: relative;
}

article .info .querodoar:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.9s;
    cursor: pointer;
}


/*SECTION - frase*/

section .porque-doar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
}

section .porque-doar h2 {
    font-size: 40px;
    color: #8a0705;
    margin-bottom: 25px;
}

section .porque-doar p {
    font-size: 25px;
    width: 900px;
    text-align: center;
}


/*parallax*/

.body-site {
    background-image: url(/images/doações_opblue.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 10px;
    padding-bottom: 350px;
    margin-top: 50px;
    opacity: 0.7;
}

.body-site p {
    font-family: 'Poppins';
    text-align: end;
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}


/* modal login */

.modal {
    height: 500px;
    width: 500px;
    display: none;
    flex-direction: column;
    justify-content: center;
    background: white;
    box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(29, 29, 29, 0.74);
    z-index: 10;
    align-items: center;
    justify-content: center;
}

.modal-header button {
    background-color: var(--vermelho-claro);
    margin-left: 400px;
    margin-bottom: 30px;
    width: 45px;
    height: 45px;
    border-radius: 35px;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.modal-header button:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.2);
    transition: 0.4s;
    background-color: var(--vermelho-sangue);
    color: white;
}

.modal .modal #google-button {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.modal #google-button {
    text-decoration: none;
}

.modal #google-button button {
    background-color: var(--vermelho-claro);
    color: var(--branco);
    border: none;
    border-radius: 8px;
    font-size: 1.0rem;
    font-weight: 700;
    cursor: pointer;
    width: 350px;
    height: 40px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.modal #google-button button:hover {
    color: var(--branco);
    box-shadow: inset 400px 0 0 0 var(--vermelho-sangue);
}

.modal #google-button img {
    width: 30px;
}

.modal #lines {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
}

.modal #lines .line {
    border: 0.7px solid var(--cinza-claro);
    width: 80px;
    height: 1px;
}

.modal #lines p {
    font-size: 14px;
    color: var(--cinza-claro);
}


/* Email e senha */

.modal input {
    height: 20px;
    width: 320px;
    display: flex;
    background-color: var(--cinza-claro);
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    padding: 15px;
    outline: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-logar {
    margin-top: 30px;
    background-color: greenyellow;
    width: 50%;
    height: 40px;
    background-color: var(--vermelho-claro);
    color: var(--branco);
    border: none;
    border-radius: 8px;
    font-size: 1.0rem;
    cursor: pointer;
    transition: 0.5s;
}

.login-logar:hover {
    color: var(--branco);
    box-shadow: inset 400px 0 0 0 var(--azul-claro);
}


/* esqueceu a senha ? */

.password-missed {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.password-missed a {
    text-decoration: none;
    color: var(--cinza-claro-escuro);
}

.password-missed #login {
    margin-left: 20px;
    text-decoration: underline;
}

.password-missed #login:hover {
    color: var(--vermelho-claro);
}

.password-missed a:hover {
    text-decoration: underline;
    color: white;
}


/* cadastre-se */

.sign-up {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-up p {
    color: white;
    font-size: 1rem;
}

.sign-up a {
    margin-top: 15px;
    text-decoration: none;
}

.sign-up a button {
    color: var(--branco);
    background-color: var(--azul-claro);
    border: none;
    border-radius: 8px;
    font-size: 1.0rem;
    font-weight: 700;
    cursor: pointer;
    width: 270px;
    height: 40px;
    transition: 0.5s;
}

.sign-up a button:hover {
    color: white;
    box-shadow: inset 350px 0 0 0 var(--vermelho-claro);
}


/*scroll animate*/

[data-anime] {
    opacity: 0;
    transition: 1s;
}

[data-anime="left"] {
    transform: translate3d(-170px, 0px, 0px);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}


/* Responsividade */

@media only screen and (min-width: 950px) and (max-width: 1000px) {
    section .porque-doar h2 {
        text-align: center;
    }
}

@media only screen and (min-width: 900px) and (max-width: 950px) {
    section .porque-doar h2 {
        text-align: center;
        font-size: 1.6rem;
    }
}

@media only screen and (min-width: 850px) and (max-width: 900px) {
    section .porque-doar h2 {
        text-align: center;
        font-size: 1.6rem;
    }
    section .porque-doar p {
        font-size: 1.0rem;
        width: 500px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 850px) {
    section .porque-doar h2 {
        text-align: center;
        font-size: 1.6rem;
    }
    section .porque-doar p {
        font-size: 1.0rem;
        width: 500px;
    }
}

@media only screen and (min-width: 750px) and (max-width: 800px) {
    section .porque-doar h2 {
        text-align: center;
        font-size: 1.6rem;
    }
    section .porque-doar p {
        font-size: 1.0rem;
        width: 500px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 750px) {
    section .porque-doar h2 {
        text-align: center;
        font-size: 1.6rem;
    }
    section .porque-doar p {
        font-size: 1.0rem;
        width: 500px;
    }
}

@media only screen and (min-width: 650px) and (max-width: 700px) {
    section .porque-doar h2 {
        text-align: center;
        font-size: 1.6rem;
    }
    section .porque-doar p {
        font-size: 1.0rem;
        width: 500px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 650px) {
    section .porque-doar h2 {
        text-align: center;
        font-size: 1.6rem;
    }
    section .porque-doar p {
        font-size: 1.0rem;
        width: 500px;
    }
}

@media only screen and (min-width: 550px) and (max-width: 600px) {
    section .porque-doar h2 {
        text-align: center;
        font-size: 1.6rem;
    }
    section .porque-doar p {
        font-size: 1.0rem;
        width: 500px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 550px) {
    section .porque-doar h2 {
        text-align: center;
        font-size: 1.6rem;
    }
    section .porque-doar p {
        font-size: 1.0rem;
        width: 500px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 500px) {
    section .porque-doar h2 {
        text-align: center;
        font-size: 1.4rem;
    }
    section .porque-doar p {
        font-size: .9rem;
        width: 450px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 450px) {
    section .porque-doar h2 {
        text-align: center;
        font-size: 1.4rem;
    }
    section .porque-doar p {
        font-size: .9rem;
        width: 450px;
    }
}