@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Poppins';
}


/*MAIN-BANNER*/

.top-parceiro {
    padding-top: 30px;
    width: 100%;
    display: flex;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #7cdcdf52;
}

.imagens-parceiros {
    margin-top: 40px;
    width: 400px;
    min-height: 300px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.51);
    border-radius: 5px;
}

.descricao {
    width: 90%;
}

.btn-doar {
    background-color: var(--azul-claro);
    color: var(--branco);
    border: none;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
    width: 250px;
    height: 40px;
    margin-top: 20px;
    transition: 0.5s;
    font-size: 20px;
}

.btn-doar:hover {
    color: var(--branco);
    box-shadow: inset 400px 0 0 0 var(--vermelho-sangue);
}

.texto-parceiros h2 {
    color: rgb(255, 255, 255);
    text-shadow: 0.1em 0.1em 0.2em rgb(37, 37, 37);
}

.texto-parceiros {
    width: 600px;
    height: 280px;
    font-size: 24px;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around   ;
    align-items: center;
    margin-right: 40px;
}

/* responsividade */

@media only screen and (min-width: 950px) and (max-width: 1000px) {
    img {
        margin-left: 50px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 950px) {
    img {
        margin-left: 50px;
    }
}

@media only screen and (min-width: 850px) and (max-width: 900px) {
    .top-parceiro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 900px;
    }
    .texto-parceiros {
        margin-left: 40px;
        margin-top: 30px;
        width: 500px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 850px) {
    .top-parceiro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 900px;
    }
    .imagens-parceiros {
        width: 500px;
    }
    .texto-parceiros {
        margin-left: 40px;
        margin-top: 30px;
        width: 500px;
    }
}

@media only screen and (min-width: 750px) and (max-width: 800px) {
    .top-parceiro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 900px;
    }
    .imagens-parceiros {
        width: 500px;
    }
    .texto-parceiros {
        margin-left: 40px;
        margin-top: 30px;
        width: 500px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 750px) {
    .top-parceiro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 900px;
    }
    .imagens-parceiros {
        width: 500px;
    }
    .texto-parceiros {
        margin-left: 40px;
        margin-top: 30px;
        width: 500px;
    }
}

@media only screen and (min-width: 650px) and (max-width: 700px) {
    .top-parceiro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 900px;
    }
    .imagens-parceiros {
        width: 500px;
    }
    .texto-parceiros {
        margin-left: 40px;
        margin-top: 30px;
        width: 500px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 650px) {
    .top-parceiro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 900px;
    }
    .imagens-parceiros {
        width: 500px;
    }
    .texto-parceiros {
        margin-left: 40px;
        margin-top: 30px;
        width: 500px;
    }
}

@media only screen and (min-width: 550px) and (max-width: 600px) {
    .top-parceiro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 900px;
    }
    .imagens-parceiros {
        width: 500px;
    }
    .texto-parceiros {
        margin-left: 40px;
        margin-top: 30px;
        width: 500px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 550px) {
    .top-parceiro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 900px;
    }
    .imagens-parceiros {
        width: 500px;
    }
    .texto-parceiros {
        margin-left: 40px;
        margin-top: 30px;
        width: 500px;
    }
}