:root {
    --vermelho-sangue: #8a0705;
    --vermelho-claro: #d96c6a;
    --azul-claro: #5cdcdf;
    --branco: #FFFFFF;
    --cinza-claro: #E5E4E4;
    --cinza-claro-escuro: #AFAFAF;
    --black: #000000;
}