@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url('/stylesheets/paleta.css');
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    font-family: 'Poppins';
    color: #666;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 110px;
    padding-bottom: 50px;
}

.container h3 {
    text-align: right;
    padding-bottom: 10px;
}

.container h2 {
    text-align: center;
    margin-top: 10px;
}


.info {
    min-height: 100px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    margin-bottom: 20px;
}

.info > div {
    margin: 15px 0 20px;
    width: 90%;
    line-height: 28px;
}

.transacao {
    min-height: 80px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.donates {
    display: flex;
    justify-content: center;
}

.botoes {
    display: flex;
    justify-content: flex-end;
}

.botao2 { 
    margin-left: 15px;
    background-color: #d96c6a !important;
}


button {
    margin-bottom: 20px;
}

.botoes button {
    color: var(--branco);
    background-color: var(--azul-claro);
    border: none;
    border-radius: 8px;
    font-size: 1.0rem;
    font-weight: 700;
    cursor: pointer;
    width: 120px;
    height: 40px;
    transition: 0.5s;
}

.botoes button:hover {
    color: white;
    box-shadow: inset 350px 0 0 0 var(--vermelho-sangue);
}

/* Table */

table {
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
  padding: 3px 20px;
  text-align: left;
}

td {
    border: 2px solid #666;

}

.sm-col {
    width: 20px;
}




/* Modal */


.modal-container {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

#modal-header {
    position: relative;
    top: 60px;
    left: 150px;
}

.modalBox {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
    text-align: center;
}

.modalBox h2 {
    padding: 10px 0 25px;
}

.modalBox p {
    font-size: 14px;
    opacity: 0.7;
}

.login-logar {
    margin-top: 30px;
    background-color: greenyellow;
    width: 50%;
    height: 40px;
    background-color: var(--vermelho-claro);
    color: var(--branco);
    border: none;
    border-radius: 8px;
    font-size: 1.0rem;
    cursor: pointer;
    transition: 0.5s;
}

.login-logar:hover {
    color: var(--branco);
    box-shadow: inset 400px 0 0 0 var(--azul-claro);
}